<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head>
	<!-- META DATA -->
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
	<meta name="author" content="">
	<title>Add Bike Details</title>
<!--	<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">-->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<style>
		.header {
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgb(0, 0, 160);
		}
	</style>
</head>

<body ng-app="myApp" ng-controller="dashboardCtrl" ng-init="onload();">
	<h2 class="header text-primary text-center">Bikes Dashboard</h2>
	<div class="container">
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>SL.no</th>
					<th>Model Name</th>
					<th>Manufacturer</th>
					<th>Year of Manufacturer</th>
					<th>Type of Bike</th>
					<th>Price (INR)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bike in bikes">
					<td>{{$index + 1}}</td> <!-- SL.no -->
					<td>{{bike.model}}</td> <!-- Model Name -->
					<td>{{bike.manufacturer}}</td> <!-- Manufacturer -->
					<td>{{bike.year}}</td> <!-- Year of Manufacturer -->
					<td>{{bike.bikeType}}</td> <!-- Type of Bike -->
					<td>{{bike.price}}</td> <!-- Price (INR) -->
					<td>
						<button class="btn btn-sm btn-info" title="Edit">
							<i class="fas fa-pencil-alt"></i>
						</button>
						<button class="btn btn-sm btn-danger" title="Delete">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<!-- Button to add new bike -->
			<button type="button" class="btn btn-success btn-lg" ng-click="goToAddPage()" title="Add New Bike">
				<i class="fas fa-plus"></i> Add New Bike
			</button>
		</div>

	</div>

	<!-- JavaScript dependencies -->
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/app/app.js}"></script>
	<script th:src="@{/app/dashboard.js}"></script>
</body>

</html>