<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head>
	<!-- META DATA -->
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
	<meta name="author" content="">
	<title>Login Page</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link th:href="@{/css/fonts.googleapis.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style th:inline="text">
		body {
			/*background: url([[@{/images/login_4.jpg}]]) no-repeat center center fixed;
			background-size: cover;*/
			height: 60vh;
			width: 100%;
		}

		.buttons:hover {
			box-shadow: 0px 0px 10px rgb(128, 128, 255);
		}

		.icon-container {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 20px;
		}
	</style>
</head>

<body ng-app="myApp" ng-controller="loginContrl">
	<div class="container">
		<div class="login-form">
			<p class="login-text">
				<span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fas fa-lock fa-stack-1x fa-inverse"></i>
				</span>
			</p>
			<input type="text" ng-model="username" class="login-username needsvalidation" autofocus="true"
				placeholder="Enter username" />
			<input type="password" ng-model="password" class="login-password" required="true"
				placeholder="Enter password" />

			<div class="button-container text-center">
				<button class=" buttons btn border border-success text-success font-weight-bold" ng-click="checkAuth();">
					<i class="fas fa-sign-in-alt"></i> Sign In
				</button>
				<button class=" buttons btn border border-primary text-primary font-weight-bold" ng-click="goToSignUpForm();">
					<i class="fas fa-user-plus"></i> Sign Up
				</button>
				<button class="buttons btn border border-info text-danger font-weight-bold" ng-click="forgotPass();">
					<i class="fas fa-key"></i> Forgot Password ?
				</button>
			</div>
		</div>

	</div>
	<!-- JavaScript dependencies -->
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/angular.min.js}"></script>
	<script th:src="@{/js/sweetalert.js}"></script>
	<script th:src="@{/app/app.js}"></script>
	<script th:src="@{/app/login.js}"></script>
</body>

</html>